{{/* decryptedWithAzureKeyVault: `{{ "REDACTED" | decryptAzure "<vault-url>" "<key-name>" "<key-version>" }} */}}
decryptedWithAzureKeyVault: {{ "eyJwcm92aWRlciI6ImF6IiwiY3J5cHQiOiJ2MC4yLjUiLCJrdlVSTCI6Imh0dHBzOi8vZXhhbXBsZS1rdi1UcG10My52YXVsdC5henVyZS5uZXQiLCJrdktleSI6ImV4YW1wbGUta2V5MiIsImt2S2V5VmVyIjoiZjM3ZmYzOWVhYjgwNDhiNmEyYjhlOWEzNmRkYjViNWQifQ.eNMJRXYvXbNvJeHPNDwIubelImGGeeJnNzKknX2Cpdu27Qyja8-hdWIHzVD33l6UkF1tp2b7ekxdKN2ja0SlYz9-1jjitj2Iz1BcUu9JNaPXC66GdwS8cD1cPUDQQvDZPGUH4SVK0SW_plgJGfXZF-_XikExTo4XgxczR4Ymm9WeOvWvvEO-OBvKrd4HZy79eshDBKj7gjeHl3wZCtgXiu-0D3btNE97vlWmE4Vr1lekFRkZPWIpAg-9FLhhtucikNj-vtCyCfJxsZcSkZzJI0LKrAdfPSCKjswyV0_Y1oBlF1GdjNJbzP_4No61hoipap46XTBZsfzxK5-JjHNvdw" | decryptAzure "https://example-kv-tpmt3.vault.azure.net" "example-key2" "f37ff39eab8048b6a2b8e9a36ddb5b5d"}}