{{/* decryptedWithGCP: {{ b64dec "REDACTED" | ungzip | decryptGCP "<project-name>" "location>" "<keyring>" "<key>" }} */}}
decryptedWithGCP: {{ b64dec "H4sIAAAAAAAA/wBaAKX/CiQAal0w6X+OjV8CmbxJZ07X83vVqBOfudjEo7k2HRdnS6zmfpYSMgDJmI5GbMUyiiUT6Xd36JQgnS5W4O7qc/J97g1FxdEIChUFtSwgRoAasOWFV+8+6a9bAAAA//8BAAD//+lkAOlaAAAA" | ungzip | decryptGCP "lunar-compiler-221314" "global" "test" "quickstart" }}