{{/* decryptedWithAWS: {{ b64dec "REDACTED" | ungzip | decryptAWS "<aws-region>" }} */}}
decryptedWithAWS: {{ b64dec "H4sIAAAAAAAA/2JkYmKomDuhe8bf1j3f3B1bSte8FU69FPw19f4q1sg28diQrEUcaoy/3LRd3d1eLfsof3TKjEiRnwwMDOkGqWycWm0ebd95GdnZFkQYhDExMhgEIsQYDeTYOBPaPBhTmVkY9QwEWXiaHlc5q78SiXp3/eBNJkaBBpUX6xgMFphv0XxueW/+NsmF0r/+5MUeDejeOic37fU73rrehV0XzQAAAAD//wEAAP//CrKowKEAAAA=" | ungzip | decryptAWS "eu-west-1" }}